.projects {
    display: grid;
    width: 100%;
    gap: 2rem 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 200px 200px 200px);
    grid-auto-rows: (3fr 1fr);
    grid-template-areas:
      "w1 w2 w3"
      "p1 p2 p3"
      "d1 d2 d3";
  }

html,
body {
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  padding: 2rem;
  overflow-x: hidden;
  background-color: white;
  color: black;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
}