<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy consumption for address</title>

    <div class="container">
        <input id="searchBar" class="searchbar" type="text" placeholder="Input your account address...">
        <a id="btnSearch" class="btn-search"><i class="fa fa-search"></i></a>
    </div>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    
</body>
</html>